.login-main {
    width: 100%;
    height: 100vh;
    display: flex;
}

.login-main .left-div{
    display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
}

.login-main .right-div {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.login-main .form-div {
     border-radius: .5rem;
     display: flex;
     flex-direction: column;
     min-width: 40vw;
     padding: 1rem;
     box-shadow:
     0 0 0 2px rgb(255, 255, 255),
     0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.login-main .form-div h1 {
    color: black
}

.login-main .form-div .inp-div {
    border: 1px solid black;
    padding: .5rem;
    margin: .8rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.login-main .form-div .inp-div input {
    padding: .5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
}


.login-btn p {
    color: white;
    text-decoration: none;
    margin-top: 1rem;
}

.login-main .options {
    display: flex;
    justify-content: space-between
}

.acc-register {
    display: flex;
}

.forgot-password {
    margin-left: auto;
    cursor: pointer;
    color: blue;
}

.options span {
    color: #3B71CA;
    cursor: pointer;
}

.login-main .form-div .inp-div.error {
    border: 1px solid red;
  }

  .login-main .form-error {
    color: red;
    margin: 0;
    padding: 0;
}

.login-btn {
    display: flex;
    justify-content: center;
}

.login-btn button {
    padding: 1rem;
    border: none;
    background-color: #3B71CA;
    color: white;
    border-radius: .5rem;
    width: 100%;
}

.acc-register {
    margin-top: .8rem;
}


@media (max-width: 768px) {
    .login-main .left-div {
        display: none;
    }

    .login-main .right-div {
        width: 100%;
    }
}