.home-main {
  height: 100vh;
  background-color: #dbf3fa;
}

.nav-header {
  height: 20vh;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
