.edit-profile-main {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.profile-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 1rem;
}

.profile-div .inp-div {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: start;  
}

.profile-div .inp-div input {
    padding: .5rem;

}


/* #fullNameInput,
#emailInput,
#mobileInput,
#addressInput,
#pincodeInput
 {
    border: none;
    box-shadow: none;
  } */
